	* {
    Box-sizing: border box;
    Font-size: 100%;
    Margin: 0;
    Padding: 0;
    Position: relative; 
    }
.display-4 {
    text-align: center;
}    
.container {
    height: 100px;
    margin: auto;
 
}
.container-fluid {
    float: left;
}

#searchBtn {
    background: #2196F3;
    color: white;
}

.weatherContainer-fluid {
    float: left;
}

#cityWeather {
    border: 1px;
    border-style: solid;
}

.clearfix {
    overflow: auto;
}

img {
    border-radius: 3px;
    width: 75px;
    float: left;
}
