	* {
    Box-sizing: border box;
    Font-size: 100%;
    Margin: 0;
    Padding: 0;
    Position: relative; 
    }

.container {
    height: 100px;
    margin: auto;
}

.display-4 {
    text-align: center;
}    

.container-fluid {
    float: left;
}

#searchBtn {
    background: #2196F3;
    color: white;
}

.historyBtn {
    border: 1px;
    border-style: solid;
    margin-top: 5px;
    width: 73%;
}

.weatherContainer-fluid {
    float: left;
}

#cityWeather {
    border: 1px;
    border-style: solid;
    padding: 5px;
    width: 95%;
}

.clearfix {
    overflow: auto;
}

.fiveDayCard {
    padding: 10px;
}

.fiveDay h3 {
    margin-top: 10px;
}

.fiveSpan {
    border: 1px;
    border-style: solid;
    display: inline-block;
    margin: 5px;
    text-align: center;
    width: 18%;
}

img {
    border-radius: 3px;
    width: 75px;
}
